<!-- header partial -->
<h1>Justice for Ugly Animals</h1>
<nav>
    <ul>
        <li id="nav-li">
            <a href="/">Home</a>
            <a class="loggedOutButtons" href="/login">Login</a>
            <a class="loggedOutButtons" href="/register">Register a New Account</a>
            <a href="/comments">Comments</a>
            <a class="loggedInButtons" id="logOutButton" href="/">Log Out</a>
            <a class="loggedInButtons" href="/myAccount">My Account</a>
        </li>
    </ul>
    <h4 id="greeting"></h4>
</nav>