<!-- header partial -->
<h1>Justice for Ugly Animals</h1>
<nav>
    <ul>
        <li id="nav-li">
            <a class="initialButtons" id="loginButton" href="/login">Login</a>
            <a class="initialButtons" href="/register">Register a New Account</a>
        </li>
    </ul>
    <h4 id="greeting"></h4>
</nav>