<!DOCTYPE html>
<html>
    <head>
        <title>Comments</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div id="commentInputDiv">
                <form method="POST">
                    <label for="commentInput" id="commentInputLabel">Comment:</label>
                    <input type="text" id="commentInput" name="commentInput">
                    <input type="submit" value="Submit">
                </form>
                
            </div>
            <div id="commentViewDiv">
                <ul>
                    <% comments.forEach(function(comment){ %>
                        <li>
                            <h4>
                                <%= comment.commentText %>
                            </h4>
                        </li>
                    <% }); %>    
                    
                </ul>
            </div>
            
        </main>
        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);
            if(res == "Not logged in" || res == undefined){
                document.getElementById("commentInputDiv").remove();
            }



            //var comments = JSON.stringify("<%= comments %>");
            //console.log(comments);

        </script>
    </body>
</html>