<!DOCTYPE html>
<html>
    <head>
        <title>Comments</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <div>
                <form id="commentInputForm">
                    <label for="commentInput" id="commentInputLabel">Comment:</label>
                    <input type="text" id="commentInput" name="commentInput">
                </form>
                
            </div>
            
        </main>
        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);
            if(res == "Not logged in" || res == undefined){
                document.getElementById("commentInputForm").remove();
            }
        </script>
    </body>
</html>