<!DOCTYPE html>
<head>
    <title>Justice for the Uglies</title>
</head>
<body>
    
    <h1>Justice for the Uglies</h1>
    <nav>
        <ul>
            <li id="nav-li">
                <a class="initialButtons" id="loginButton" href="/login">Login</a>
                <a class="initialButtons" href="/register">Register a New Account</a>
            </li>
        </ul>
    </nav>

    <script>
        var res = "<%- firstName %>";
        console.log(res);

        if(res != "Not logged in"){
            var initialButtons = document.getElementsByClassName("initialButtons");
            while(initialButtons.length > 0){
               initialButtons[0].parentNode.removeChild(initialButtons[0]);
            }

            var logoutButton = document.createElement("button");
            logoutButton.appendChild(document.createTextNode("Logout"));
            document.getElementById("nav-li").appendChild(logoutButton);
            //document.getElementById("loginButton").remove();
        }



    </script>
</body>
</html>