<!DOCTYPE html>
<html>
    <head>
        <title>Justice for Ugly Animals</title>
        <%- include('../partials/head') %>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ut diam est. Nam ante eros, tincidunt et blandit quis, faucibus sit amet sem. Mauris euismod fermentum est, eu consequat risus. Aliquam enim orci, auctor vitae metus vitae, dignissim ullamcorper mauris. Duis dignissim, nisi non condimentum pellentesque, tellus nunc vulputate magna, vel blandit eros turpis facilisis mauris. In quam leo, ultrices ut risus vitae, luctus consequat magna. Curabitur quis sapien mauris. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                Cras diam velit, malesuada vitae semper at, semper sit amet nibh. Morbi pretium a velit et molestie. Proin facilisis, nisi vitae commodo posuere, diam felis euismod sem, vel semper velit libero non ante. Pellentesque sodales tempor mi, ut venenatis metus dictum vitae. Phasellus laoreet vehicula velit, eget sollicitudin nisl suscipit ac. Mauris vulputate mi vel libero ultricies maximus. Curabitur enim tortor, fringilla a velit nec, vestibulum consectetur tellus. Sed malesuada mi eget arcu porta molestie. Proin interdum et ipsum quis pharetra. Morbi sollicitudin, eros sit amet semper imperdiet, leo justo pulvinar ipsum, sed fermentum massa neque ac est. Praesent lobortis fringilla faucibus. Phasellus varius scelerisque velit, sit amet venenatis nibh eleifend quis.
                
                Aenean dignissim justo tempus, tempor felis at, pharetra lectus. Sed in vestibulum purus. Etiam auctor nisl sed tempus viverra. Etiam et ligula leo. Ut auctor placerat convallis. Duis efficitur purus quis volutpat ultrices. Cras id erat vitae felis tempus egestas interdum non dui. Donec vulputate libero sapien, a luctus felis tempor tempus.
                
                Curabitur ipsum velit, luctus eu lorem sed, egestas euismod purus. Nunc tempus dignissim purus, nec faucibus nulla dignissim a. Nullam non sodales ipsum, nec condimentum mauris. Duis mauris neque, lacinia id mattis vitae, dictum a neque. Nulla fringilla vulputate purus ut malesuada. Vivamus consequat laoreet vestibulum. Phasellus facilisis leo erat, eu dictum nisl porttitor id. Duis tristique mauris lectus, a aliquam eros venenatis non. Nam posuere elit id purus vehicula viverra. Fusce nec odio in turpis tincidunt fermentum. In ut malesuada lacus, id semper neque. Pellentesque tristique hendrerit dolor id consectetur. Morbi non arcu a elit vehicula euismod eu condimentum erat. Morbi convallis odio sit amet ligula eleifend, nec luctus mauris convallis. Vivamus id dolor sit amet diam lacinia molestie.
                
                Nam id euismod ex. Praesent a ante aliquet neque sollicitudin luctus et a turpis. Etiam pretium metus non dolor iaculis placerat. Aenean luctus eu sapien ut posuere. Phasellus gravida nibh ut lacus elementum fringilla. Phasellus ut hendrerit neque. Aliquam lorem erat, pulvinar sed consectetur at, vehicula eget ex. Proin iaculis, quam eu efficitur aliquam, odio mi volutpat massa, non lobortis erat leo eu augue. Mauris lobortis enim ut nisl congue faucibus. Morbi non massa non felis tempus eleifend. Praesent ut augue augue. Morbi volutpat turpis eu risus mattis, ut ullamcorper quam molestie. Etiam gravida augue aliquam ante pulvinar efficitur.
                
                Proin congue nisl id dui fermentum ullamcorper. Aliquam id blandit metus. Fusce fermentum tempus tortor sit amet consectetur. Morbi eget leo aliquet, facilisis diam quis, viverra lectus. Praesent volutpat massa sit amet urna consequat vulputate. Morbi consequat cursus est, quis dignissim elit lobortis aliquam. Sed varius, velit eget condimentum ullamcorper, ipsum enim maximus metus, et egestas felis tellus sit amet velit. Mauris eget egestas elit. Fusce lacinia rhoncus justo eget interdum. Donec dignissim enim eget faucibus rutrum. Etiam viverra et ante et vestibulum. Vestibulum vel ultricies erat, vel maximus magna. Maecenas ac vestibulum metus, in iaculis felis. Nulla sodales tellus et odio facilisis, id aliquam elit ultricies. Phasellus finibus non quam non sollicitudin.</p>

        </main>

        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);
            
        </script>
    </body>
</html>