<!DOCTYPE html>
<head>
    <title>Justice for the Uglies</title>
</head>
<body>
    
    <h1>Justice for the Uglies</h1>
    <h3 id="greeting"></h3>
    <nav>
        <ul>
            <li id="nav-li">
                <a class="initialButtons" id="loginButton" href="/login">Login</a>
                <a class="initialButtons" href="/register">Register a New Account</a>
            </li>
        </ul>
    </nav>

    <script>
        var res = "<%- firstName %>";
        console.log(res);

        if(res != "Not logged in"){
            var initialButtons = document.getElementsByClassName("initialButtons");
            while(initialButtons.length > 0){
               initialButtons[0].parentNode.removeChild(initialButtons[0]);
            }

            var greeting = document.getElementById("greeting");
            greeting.innerText = "Hello, " + res;

            var logoutLink = document.createElement("a");
            logoutLink.appendChild(document.createTextNode("Logout"));
            logoutLink.onclick(deleteTokenCookie());
            logoutLink.href = "/";
            
            document.getElementById("nav-li").appendChild(logoutLink);
            console.log(document.cookie);
            

            
            //document.getElementById("loginButton").remove();
        }

        function deleteTokenCookie(){
            document.cookie = "token=; expires=Thuu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    </script>
</body>
</html>