<!DOCTYPE html>
<head>
    <title>Justice for the Uglies</title>
</head>
<body>
    <h1>Justice for the Uglies</h1>
    <nav>
        <ul>
            <li>
                <a href="/login">Login</a>
                <a href="/register">Register a New Account</a>
            </li>
        </ul>
    </nav>
    <h2><%= message %></h2>
</body>
</html>