<!DOCTYPE html>
<html>
    <head>
        <title>My Account</title>
    </head>
    <body>
        <header>
            <%- include('../partials/header') %>
        </header>

        <script type="text/javascript" src="/js/manageHeader.js"></script>
        <script>
            var res = "<%- firstName %>";
            manageHeader(res);
        </script>

    </body>
</html>